<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<div id="chart">
    <canvas id="wasteChart"></canvas>
</div>

<script>


    $(document).ready(function () {
        $.ajax({
            url: '/api/home/wastelogchart/',
            type: 'get',
            async: false,
            success: function (response) {
                data = response.data;
                label = response.label;
                var ctx = $("#wasteChart")
                var wasteChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: label,
                        datasets: [{
                            label: 'gram',
                            data: data,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1,
                        }]
                    }
                })
            }
        })
    })

    function generateRandomColors(numColors) {
        const colors = [];
        for (let i = 0; i < numColors; i++) {
            const red = Math.floor(Math.random() * 256);
            const green = Math.floor(Math.random() * 256);
            const blue = Math.floor(Math.random() * 256);

            colors.push(`rgba(${red}, ${green}, ${blue}, 0.2)`);
        }
        return colors;
    }

</script>