{% include "ex_table_script.html" %}
<div class="container">
    <div class="row">
        <div class="col">
            <table id="LogTable"></table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#LogTable').bootstrapTable('destroy').bootstrapTable({
            url: '/api/home/wastelog/',
            method: 'get',
            uniqueId: "Log_id",
            detailViewIcon: true,
            cache: false,
            classes: "table table-borderless table-responsive",
            headerStyle: { classes: "table-dark" },
            rowStyle: { classes: "table-primary" },
            columns: [
                {
                    field: "log_id",
                    title: "Log Id",
                    align: "center",
                    valign: "middle",
                },
                {
                    field: 'ingredient_name',
                    title: 'Ingredient',
                    align: "center",
                }
                ,
                {
                    field: 'quantity',
                    title: 'Quantity',
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value, row, $index) {
                        return `${value} g`
                    }
                },
                {
                    field: 'date',
                    title: 'Expired Date',
                    align: 'center',
                    valign: 'middle'
                }
            ]
        })
    })
</script>