<div class="modal fade" id="success-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Success</h5>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="error-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center" id="error-message">
                <h5>Error</h5>
            </div>
        </div>
    </div>
</div>
