<div class="modal" id="success-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Success
            </div>
        </div>
    </div>
</div>

<div class="modal" id="error-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="error-message">
            </div>
        </div>
    </div>
</div>