<!-- Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="AddIngredient">Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <form method="post" id="add-form">

                    <label for="detail-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="detail-name">


                    <label for="detail-quantity" class="col-form-label">Quantity:</label>
                    <div class="input-group">

                        <input type="number" class="form-control" id="detail-quantity">

                        <select class="form-select" id="detail-quantity-unit">
                            <option selected>Choose...</option>
                            <option value="g">g</option>
                            <option value="kg">kg</option>
                            <option value="oz">oz</option>
                            <option value="lbs">lbs</option>
                        </select>
                    </div>

                    <label for="detail-date" class="col-form-label">Expiry Date:</label>
                    <input type="date" class="form-control" id="detail-date">

                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="submitForm">Submit</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var AddModal = document.getElementById("AddModal")

        AddModal.addEventListener('show.bs.modal', function (event) {

            var date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var dates = date.getDate();
            if (month < 10) month = "0" + month;
            if (date < 10) date = "0" + date;
            var time = year + "-" + month + "-" + dates;
            AddModal.querySelector("#detail-date").value = time
        })

        $('#submitForm').click(function () {
            var name = $('#detail-name').val();
            var quantity = $('#detail-quantity').val();
            var unit = $('#detail-quantity-unit').val();
            var date = $('#detail-date').val();

            $.ajax({
                url: '/api/oi/detail/',
                type: 'POST',
                data: {
                    name: name,
                    quantity: quantity,
                    quantity_unit: unit,
                    expiry_date: date
                },
                success: function (response) {
                    console.log(response.status)
                    $("#success-modal").modal("show")
                    setTimeout(function () {
                        location.reload()
                    }, 300);
                }
            });


        })
    })
</script>